In [1]:
import pandas as pd

# Step 1: Reading Confirm_cases and Death_cases into their respective dataframes

### a) First reading Confirm_cases into dataframe

In [2]:
confirm_cases_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
confirm_cases_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,205506,205541,205612,205612,205802,205830,205907,206073,206133,206145
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,333305,333316,333322,333330,333330,333338,333343,333360,333381,333391
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271050,271057,271061,271061,271079,271082,271090,271096,271100,271102
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,46824,47219,47219,47219,47219
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104491,104676,104676,104676,104676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,333721,333721,333721,333721,333721,333746,333746,333746,333746,333746
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,257893,259164,259164,259164,259164

### b) Now reading death_cases into dataframe

In [3]:
death_cases_df=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
death_cases_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7833,7833,7834,7834,7834
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,156,156,156,156,156,156,157,157,157,157
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1923,1923,1923,1923,1923,1923,1924,1924,1924,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5606,5620,5620,5620,5620

# Step 2)	Using pandas to create a dataframe that aggregates and sums both confirmed cases and deaths on a global level

### Before starting aggregation and sum, lets check the data of both dataframe for null values

In [4]:
confirm_cases_df.isna().sum()

Province/State    198
Country/Region      0
Lat                 2
Long                2
1/22/20             0
                 ...
11/29/22            0
11/30/22            0
12/1/22             0
12/2/22             0
12/3/22             0
Length: 1051, dtype: int64

In [5]:
death_cases_df.isna().sum()

Province/State    198
Country/Region      0
Lat                 2
Long                2
1/22/20             0
                 ...
11/29/22            0
11/30/22            0
12/1/22             0
12/2/22             0
12/3/22             0
Length: 1051, dtype: int64

### Removing Province/State columns from both dataframe as it contains 2/3 of data as null values. 
### Also Removing Lat and Long columns from both dataframe as we won't be using them for our requirements.

In [6]:
confirm_cases_df.drop(columns=['Province/State','Lat','Long'], inplace=True)
confirm_cases_df

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,205506,205541,205612,205612,205802,205830,205907,206073,206133,206145
1,Albania,0,0,0,0,0,0,0,0,0,...,333305,333316,333322,333330,333330,333338,333343,333360,333381,333391
2,Algeria,0,0,0,0,0,0,0,0,0,...,271050,271057,271061,271061,271079,271082,271090,271096,271100,271102
3,Andorra,0,0,0,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,46824,47219,47219,47219,47219
4,Angola,0,0,0,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104491,104676,104676,104676,104676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
285,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,Yemen,0,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,Zambia,0,0,0,0,0,0,0,0,0,...,333721,333721,333721,333721,333721,333746,333746,333746,333746,333746
288,Zimbabwe,0,0,0,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,257893,259164,259164,259164,259164

In [7]:
death_cases_df.drop(columns=['Province/State','Lat','Long'], inplace=True)
death_cases_df

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7833,7833,7834,7834,7834
1,Albania,0,0,0,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
2,Algeria,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,Andorra,0,0,0,0,0,0,0,0,0,...,156,156,156,156,156,156,157,157,157,157
4,Angola,0,0,0,0,0,0,0,0,0,...,1923,1923,1923,1923,1923,1923,1924,1924,1924,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,Yemen,0,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,Zambia,0,0,0,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
288,Zimbabwe,0,0,0,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5606,5620,5620,5620,5620

### Now we will be start summing data across all the data for each country

In [8]:
df_confirmed = confirm_cases_df
df_confirmed = df_confirmed.groupby(['Country/Region']).sum()
df_confirmed

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,205506,205541,205612,205612,205802,205830,205907,206073,206133,206145
Albania,0,0,0,0,0,0,0,0,0,0,...,333305,333316,333322,333330,333330,333338,333343,333360,333381,333391
Algeria,0,0,0,0,0,0,0,0,0,0,...,271050,271057,271061,271061,271079,271082,271090,271096,271100,271102
Andorra,0,0,0,0,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,46824,47219,47219,47219,47219
Angola,0,0,0,0,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104491,104676,104676,104676,104676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
Winter Olympics 2022,0,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
Yemen,0,0,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
Zambia,0,0,0,0,0,0,0,0,0,0,...,333721,333721,333721,333721,333721,333746,333746,333746,333746,333746
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,257893,259164,259164,259164,259164

In [9]:
sum_confirm_cases = df_confirmed.sum(axis=1)
sum_confirm_cases = sum_confirm_cases.reset_index()
sum_confirm_cases.columns = ['Country','Total Confirm Cases']
sum_confirm_cases

                  Country  Total Confirm Cases
0             Afghanistan            110008711
1                 Albania            153496700
2                 Algeria            156695695
3                 Andorra             19962983
4                  Angola             49935865
..                    ...                  ...
196    West Bank and Gaza            345035344
197  Winter Olympics 2022               163102
198                 Yemen              6732715
199                Zambia            163469994
200              Zimbabwe            115295560

[201 rows x 2 columns]

In [10]:
df_death = death_cases_df
df_death = df_death.groupby("Country/Region").sum()
df_death

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7833,7833,7834,7834,7834
Albania,0,0,0,0,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
Algeria,0,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
Andorra,0,0,0,0,0,0,0,0,0,0,...,156,156,156,156,156,156,157,157,157,157
Angola,0,0,0,0,0,0,0,0,0,0,...,1923,1923,1923,1923,1923,1923,1924,1924,1924,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
Winter Olympics 2022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,0,0,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
Zambia,0,0,0,0,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5606,5620,5620,5620,5620

In [11]:
sum_df_death = df_death.sum(axis=1)
sum_df_death = sum_df_death.reset_index()
sum_df_death.columns = ['Country','Total Death Cases']
sum_df_death

                  Country  Total Death Cases
0             Afghanistan            4666030
1                 Albania            2140181
2                 Algeria            4240699
3                 Andorra             111465
4                  Angola            1046564
..                    ...                ...
196    West Bank and Gaza            3206741
197  Winter Olympics 2022                  0
198                 Yemen            1308182
199                Zambia            2244123
200              Zimbabwe            2918746

[201 rows x 2 columns]

### Finally we will integrate bot sum dataframes into one dataframe

In [12]:
aggregate_df = pd.merge(sum_confirm_cases, sum_df_death, on='Country')
aggregate_df

                  Country  Total Confirm Cases  Total Death Cases
0             Afghanistan            110008711            4666030
1                 Albania            153496700            2140181
2                 Algeria            156695695            4240699
3                 Andorra             19962983             111465
4                  Angola             49935865            1046564
..                    ...                  ...                ...
196    West Bank and Gaza            345035344            3206741
197  Winter Olympics 2022               163102                  0
198                 Yemen              6732715            1308182
199                Zambia            163469994            2244123
200              Zimbabwe            115295560            2918746

[201 rows x 3 columns]